* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}
/* Headline Section */
@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    left: 0;
    top: 0;
    height: 50px;
  }

  .navbar {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navbar.hamburger {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 24px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
  }

  .hamburger .bar {
    justify-content: space-between;
    display: flex;
    flex-flow: column wrap;
    width: 1.5rem;
    height: 0.25rem;
    background: #6070ff;
    border-radius: 5px;
    margin: 3px 0;
  }

  .navbar.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 1.25rem;
    height: 40px;
    left: 12px;
    top: calc(50% - 40px / 2);
  }

  .logo a {
    width: 100px;
    height: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
  }

  .headline {
    max-width: 100vw;
    min-height: 100vh;
    border-bottom-left-radius: 5rem;
    margin-bottom: 50px;
    padding: 2rem;
    background-image: url('images/header-shapes mobile@2x.png');
    background-size: 100vw;
    background-repeat: no-repeat;
  }

  .text h1 {
    margin-top: 5rem;
    color: #344563;
    font-size: 2.5rem;
    text-align: left;
    font-weight: 700;
  }

  .text p {
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    color: #344563;
  }

  .media-links {
    display: flex;
    justify-items: flex-start;
    align-items: center;
  }

  .media {
    margin-right: 19px;
  }

  .media img {
    justify-content: space-between;
    width: 1.5rem;
    height: 1.25rem;
  }

  .button {
    color: #7f8cff;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 15px;
    background-color: transparent;
    border: none;
    margin-top: 10px;
    margin-bottom: 12px;
  }

  .button:hover {
    cursor: pointer;
    text-decoration: underline;
  }

/* Works Section */

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 50px;
}

.works-container {
  display: grid;
  grid-gap: 5rem;
}

.works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dfe1e6;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 16px;
  gap: 12px;
  margin: 20px;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  width: 327px;
  height: 100%;
}

.works-card img {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 40px;
  
}

.top h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 300px;
  height: 32px;
  padding-bottom: 10px;
}

#client {
  padding: 8px 0px;
  width: 55px;
  height: 32px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-right: 5px;
}

#dot {
  margin: 5px 0px;
  border-radius: 20px;
  width: 7px;
  height: 7px;
  background: #C1C7D0;
}

#role {
  margin: 0px 5px;
  padding: 8px 0px;
  width: 98px;
  height: 32px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A; 
}

#year {
  margin-left: 5px;
  padding: 8px 0px;
  width: 29px;
  height: 32px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
}

.info-block p {
  margin-top: 70px;
  width: 295px;
  height: 76px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: 5%;
}

.tags li {
  padding: 4px 12px;
  background: #EBEBFF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
}

.bottom {
  margin-top: 0px;
}

.action {
  justify-content: center;
  font-size: 17px;
  width: 124px;
  height: 48px;
  left: 0px;
  margin-top: 15%;
  border-radius: 8px;
  border: 1px solid #6070FF;
  color: #6070FF;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
}

.action:hover {
  background-color: #6070FF;
  color: #fff;
}

.action:active {
  background-color: #2230D2;
}

#six {
  height: 36px;
  text-align: left;
}

#eight {
  height: 80px;
  text-align: left;
}

/* About Me Section */

.aboutme {
  max-width: 100vw;
  min-height: 100vh;
  border-top-right-radius: 5rem;
  margin-bottom: 10em;
  padding: 2rem;
  background-image: url('images/header-background-mobile@2x.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}

.action2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  gap: 10px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396DF2;
}

.action2:hover {
  background-color: #6070FF;
  color: #fff;
}

.action2:active {
  background-color: #2230D2;
}

/* Skills Section */

.skills {
  align-items: center;
  margin-top: 8vh;
  width: 327px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sign {
  margin-left: 206px;
}

.btn h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

.arrow {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 13px;
}

/* Span Section */

.slide img {
  display: flex;
  width: 48px;
  height: 48px;
  left: 12px;
}

.slide li {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  width: 303px;
  height: 66.72px;
  list-style-type: none;
  background: #F7F7F9;
  border-radius: 8px;
  margin: 8px 0px;

}

li h4 {
  position: relative;
  height: 24px;
  left: 24px;
  right: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.arrow {
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
   transition-duration: 0.1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
   transition-property: transform;
}

.arrow:active {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
   transform: rotate(90deg);
}



.slide {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  clear: both;
  overflow: hidden;
  transition: height .4s ease;
}

.slide li {
  padding : 30px;
}

#touch {
  position: absolute;
  opacity: 0; 
  height: 0px;
}    

#touch:checked + .slide {
  height: 350px;
} 

}